.nav{
background-color: aqua;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    margin: auto;
   
}
.nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: larger;
  }
  .nav :global(.active){
    color: red;
  }
  /* this active can be used to style the active link in the navigation bar.
  the global function is used to use class all over the application. */